.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}
/*.allimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/*width='380px' heigh='auto'*/

/*.align2 {
	align-items: center;
	margin-right: auto;
    margin-left: auto;
}

 .align22{
    margin-top: 1.5rem;
    position: absolute;
}*/